In [1]:
%load_ext autoreload
%autoreload 2

from util import *
plt.style.use('ggplot')

# 1. Load dataset

In [2]:
full = pd.read_csv(join(PATH.input, 'train_data.csv'))
full.head()

,TurbID,Day,Tmstamp,Wspd,Wdir,Etmp,Itmp,Ndir,Pab1,Pab2,Pab3,Prtv,Patv
0,1,1,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,00:10,6.17,-3.99,30.73,41.80,25.92,1.0,1.0,1.0,-0.25,494.66
2,1,1,00:20,6.27,-2.18,30.60,41.63,20.91,1.0,1.0,1.0,-0.24,509.76
3,1,1,00:30,6.42,-0.73,30.52,41.52,20.91,1.0,1.0,1.0,-0.26,542.53
4,1,1,00:40,6.25,0.89,30.49,41.38,20.91,1.0,1.0,1.0,-0.23,509.36

# 2. Imputing

## 1) Missing values

In [3]:
full = full.dropna()
len(full)

3813613

## 2) Unknown values

In [4]:
idxs_unknown1 = full.query("Wspd > 2.5 and Patv <= 0").index
idxs_unknown2 = full.query("Pab1 > 89 or Pab2 > 89 or Pab3 > 89").index
idxs_unknown  = idxs_unknown1 | idxs_unknown2
full = full.drop(index=idxs_unknown)
len(idxs_unknown), len(full)

/tmp/ipykernel_15190/2456772418.py:3: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  idxs_unknown  = idxs_unknown1 | idxs_unknown2

(848749, 2964864)

## 3) Abnormal values

In [5]:
idxs_abnormal1 = full.query("Ndir < -720 or Ndir > 720").index
idxs_abnormal2 = full.query("Wdir < -180 or Wdir > 180").index
idxs_abnormal  = idxs_abnormal1 | idxs_abnormal2
full = full.drop(index=idxs_abnormal)
len(idxs_abnormal), len(full)

/tmp/ipykernel_15190/3384410685.py:3: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  idxs_abnormal  = idxs_abnormal1 | idxs_abnormal2

(30, 2964834)

In [6]:
full

,TurbID,Day,Tmstamp,Wspd,Wdir,Etmp,Itmp,Ndir,Pab1,Pab2,Pab3,Prtv,Patv
1,1,1,00:10,6.17,-3.99,30.73,41.80,25.92,1.00,1.00,1.00,-0.25,494.66
2,1,1,00:20,6.27,-2.18,30.60,41.63,20.91,1.00,1.00,1.00,-0.24,509.76
3,1,1,00:30,6.42,-0.73,30.52,41.52,20.91,1.00,1.00,1.00,-0.26,542.53
4,1,1,00:40,6.25,0.89,30.49,41.38,20.91,1.00,1.00,1.00,-0.23,509.36
5,1,1,00:50,6.10,-1.03,30.47,41.22,20.91,1.00,1.00,1.00,-0.27,482.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3859195,134,200,23:10,4.86,4.68,9.04,10.40,174.39,0.01,0.01,0.01,-108.13,308.65
3859196,134,200,23:20,4.46,-4.00,8.79,10.33,179.76,0.01,0.01,0.01,-93.64,221.60
3859197,134,200,23:30,4.23,-0.08,8.74,10.22,172.35,0.01,0.01,0.01,-111.20,220.60
3859198,134,200,23:40,4.36,-6.12,8.64,10.10,172.35,0.01,0.01,0.01,-108.04,222.15
3859199,134,200,23:50,4.79,-3.65,8.53,10.01,168.58,0.01,0.01,0.01,-119.76,264.17

In [7]:
full.to_csv(join(join(PATH.input, 'data_imputed.csv')))